{php $this->shopShare()}

<script language="javascript">
        clearTimeout(window.interval);
        window.interval = setTimeout(function () {
            window.shareData = {php echo json_encode($_W['shopshare'])};

            jssdkconfig = {php echo json_encode($_W['account']['jssdkconfig']);} || { jsApiList:[] };
            jssdkconfig.debug = false;

            jssdkconfig.jsApiList = ['checkJsApi','onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','showOptionMenu', 'hideMenuItems', 'onMenuShareQZone'];
            wx.config(jssdkconfig);
            wx.ready(function () {
                wx.showOptionMenu();

                {if !empty($_W['shopshare']['hideMenus'])}
                    wx.hideMenuItems({
                        menuList: {php echo  json_encode($_W['shopshare']['hideMenus'])}
                    });
                {/if}
                // by xiaorenwu 
                // 修改分享信息
                seShareData = {
                    desc: window.shareData.desc,
                    imgUrl: window.shareData.imgUrl,
                    title: '发现一个好商城，快快来围观!'
                };

                // seMidArr = window.shareData.link.split('mid=');
                // if (seMidArr && seMidArr.length > 1) {
                //     seMid = seMidArr[1];
                // }

                // seShareData.link = 'http://www.pinfeimy.com/app/index.php?i=2&c=entry&m=ewei_shopv2&do=mobile&mid=' + {php echo $member['id']};
                seShareData.link = window.location.href + '&mid=' + '{php echo $member["id"]}';

                wx.onMenuShareAppMessage(seShareData);
                wx.onMenuShareTimeline(seShareData);
                // wx.onMenuShareAppMessage(shareData);
                // wx.onMenuShareTimeline(shareData);
                wx.onMenuShareQQ(window.shareData);
                wx.onMenuShareWeibo(window.shareData);
                wx.onMenuShareQZone(window.shareData);
            });
        },500);


		{if !empty($_W['shopset']['wap']['open']) && !is_weixin()}
		//	Share to qq
		require(['//qzonestyle.gtimg.cn/qzone/qzact/common/share/share.js'], function(setShareInfo) {
			setShareInfo({
				title: "{$_W['shopshare']['title']}",
				summary: "{$_W['shopshare']['desc']}",
				pic: "{$_W['shopshare']['imgUrl']}",
				url: "{$_W['shopshare']['link']}"
			});
		});
		{/if}
</script> 